<div class="">
  <h1><%= @space.id %></h1>
  <h2><%= @space.name %></h2>
  <h2><%= @space.pricexnight %></h2>
  <h2><%= @space.description %></h2>
  <h1><%= @space_categoria.description %></h1>
</div>
